In [1]:
import numpy as np
import pandas as pd

Group By

In [2]:
data = {
    'category' : ['A','A','B','A','B','A','B','B'],
    'store' : ['S1','S2','S1','S2','S1','S1','S2','S2'],
    'sales' : [100,200,115,150,200,500,700,450],
    'date' : pd.date_range('2023-01-01',periods=8)
}
df = pd.DataFrame(data)

In [3]:
df

  category store  sales       date
0        A    S1    100 2023-01-01
1        A    S2    200 2023-01-02
2        B    S1    115 2023-01-03
3        A    S2    150 2023-01-04
4        B    S1    200 2023-01-05
5        A    S1    500 2023-01-06
6        B    S2    700 2023-01-07
7        B    S2    450 2023-01-08

In [8]:
cat = df.groupby('category')
for i,v in cat:
    print(i)
    print(v)

A
  category store  sales       date
0        A    S1    100 2023-01-01
1        A    S2    200 2023-01-02
3        A    S2    150 2023-01-04
5        A    S1    500 2023-01-06
B
  category store  sales       date
2        B    S1    115 2023-01-03
4        B    S1    200 2023-01-05
6        B    S2    700 2023-01-07
7        B    S2    450 2023-01-08

In [15]:
cat = df.groupby('category')['sales'].sum()
cat

category
A     950
B    1465
Name: sales, dtype: int64

In [17]:
cat = df.groupby("store")['sales'].sum()
cat

store
S1     915
S2    1500
Name: sales, dtype: int64

In [21]:
cat = df.groupby(['category','store'])['sales'].sum()
cat

category  store
A         S1        600
          S2        350
B         S1        315
          S2       1150
Name: sales, dtype: int64

In [23]:
cat = df.groupby(['store','category'])['sales'].sum()
cat

store  category
S1     A            600
       B            315
S2     A            350
       B           1150
Name: sales, dtype: int64

**Aggregation**

In [25]:
df['sales'].mean()
"""sum mean median min max count std"""   #mode me error

TypeError: 'DataFrame' object is not callable

In [30]:
df['sales'].agg(['sum','mean', 'median', 'min', 'max', 'count', 'std'])

sum       2415.000000
mean       301.875000
median     200.000000
min        100.000000
max        700.000000
count        8.000000
std        220.128818
Name: sales, dtype: float64

In [9]:
df['sales'].agg("mean")

np.float64(301.875)