In [10]:
import numpy as np

**Valid Sudoku**

In [24]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [31]:
int(s.sum())

405

In [32]:
b = np.sum(s,axis=1)   #rows wise
b

array([45, 45, 45, 45, 45, 45, 45, 45, 45])

In [33]:
b = np.sum(s,axis=0)   #colums wise
b

array([45, 45, 45, 45, 45, 45, 45, 45, 45])

In [25]:
b = np.sum(s,axis=1)
for i in b:
    if i!=45:
        print("sudoku is not valid ")
        break
else:
     print("for row it is valid")

for row it is valid

In [26]:
b = np.sum(s,axis=0)
for i in b:
    if i!=45:
        print("sudoku is not valid ")
        break
else:
     print("for column it is valid")

for column it is valid

In [28]:
d = s[0:3,0:3]
d

array([[5, 3, 4],
       [6, 7, 2],
       [1, 9, 8]])

In [34]:
int(d.sum())

45

In [42]:
for i in range(0,9,3):
    for j in range(0,9,3):
        n = s[i:i+3,j:j+3]
        print(n.sum())

45
45
45
45
45
45
45
45
45

**General Questions**

In [108]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [54]:
#Get the shape of the matrix.
np.shape(data)   # or you can use data.shape

(5, 3)

In [59]:
#Find the average age of students.
np.mean(data[:,0])

np.float64(18.4)

In [60]:
#Extract Math marks of all students.
data[:,1]

array([85, 92, 76, 65, 90])

In [61]:
#Find the highest Science mark.
np.max(data[:,2])

np.int64(95)

In [63]:
#Get details of the student who scored more than 90 in Math.

data[data[:,1]>90]

array([[19, 92, 88]])

In [65]:
#Increase Math marks of all students by 5.
data[:,1]+5

array([90, 97, 81, 70, 95])

In [67]:
#Find how many students are younger than 19.
data[data[:,0]>19]

array([[20, 90, 85]])

In [77]:
#Calculate the average marks in each subject (column-wise mean).
np.mean(data[:,1:],axis=0)

array([81.6, 83.2])

In [87]:
#Get data of students who scored at least 80 in both subjects.
data[(data[:,1]>=80) &( data[:,2]>=80)]

array([[19, 92, 88],
       [20, 90, 85]])

In [109]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [112]:
#Replace all Science marks < 75 with 0.
data[:,2][data[:,2]<75]=0
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65,  0],
       [20, 90, 85]])